/__pycache__/
/old/
/dot/
!/dot/tree0.dot
!/dot/tree1.dot
!/dot/tree498.dot
!/dot/tree499.dot
!/dot/tree0.png
!/dot/tree1.png
!/dot/tree498.png
!/dot/tree499.png
!/dot/dot2png.bat
*.bat
*.pyc
*.md~
*.py~
*.*~
*.pdf
